<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Lab 3 Webpage</title>
    <link 
        href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous"
        />
    <link rel="stylesheet" href="..//resources/css/style.css"/>
</head>
<body class="main-background">
    <!-- General setup pulled from bootstrap documentation on the navbar -->
    <nav class = "navbar navbar-expand-lg navbar-dark container-fluid header-style"> 
        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <u1 class="navbar-nav me-auto mb-2 mb-lg-0 ps-2">
                <li class = "nav-item">
                    <a class = "nav-link" href = "./index.html">Home</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "./hobbies.html">Hobbies</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link active" aria-current="page" href = "#">Projects</a>
                </li> 
            </u1>
        </div>
        <a class = "ps-2 navbar-brand navbar-right">
                <img src="../resources/img/icon.png" alt = "Logo" width = "32" class="d-inline-block align-text-top">
        </a>
    </nav>
    <main class = "container pb-5">
        <h2 class = "my-3">My Projects</h2>
        <div class="accordion accordion-flush" id="accordionFlushExample"> <!--Accordion outline pulled from bootstrap documentation-->
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
                    Game Dev
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class = "col-3">
                                <img src="../resources/img/gamedev.png" class="sqr-img-style" alt="..."/>
                            </div>
                            <div class = "col-8">
                                <p>This is some pixel art from a project I'm working on as a gift. I'm currently building a small rpg with some pixelized versions of my friend's art to surprise them.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo">
                    Python
                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class = "col-3">
                                <img src="../resources/img/python.png" class="sqr-img-style" alt="..."/>
                            </div>
                            <div class = "col-8">
                                <p>This is a screenshot of a small snake replica I made using pygame. It's competitive snake, so you try and get more points than the other person. It also has a small powerup that flips your opponent's keyboard controls. You try to get more points without running into the other person or the wall. It also has custom sprites that I designed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree">
                    LaTeX
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                       <div class="row">
                            <div class = "col-3">
                                <img src="../resources/img/latex.png" class="sqr-img-style" alt="..."/>
                            </div>
                            <div class = "col-8">
                                <p>This is a screenshot of an equation sheet I compiled for my Calculus 3 class. I took it my senior year of high school, and we were allowed equation sheets as long as we coded them in LaTeX. I ended up creating a very useful equation sheet, and now I have an easy time using LaTeX when I'm required to use it for classes such as Algorithms.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </main>
    <footer class = "footer footer-details container-fluid py-1 footer-style">
        <a data-mdb-ripple-init class = "btn btn-outline btn-floating" href = "https://github.com/Avery-Lott" 
            role="button" target = "_blank"><img src = "../resources/img/github.png" class = "img-fluid" width = "7%">
        </a> <!--Reference used: https://mdbootstrap.com/docs/standard/navigation/footer/-->
    </footer>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
        crossorigin="anonymous"
    ></script>
</body>
</html>