<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Lab 3 Webpage</title>
    <link 
        href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous"
        />
    <link rel="stylesheet" href="..//resources/css/style.css"/>
</head>
<body class = "main-background">
    <!-- General setup pulled from bootstrap documentation on the navbar -->
    <nav class = "navbar navbar-expand-lg navbar-dark container-fluid header-style"> 
        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <u1 class="navbar-nav me-auto mb-2 mb-lg-0 ps-2">
                <li class = "nav-item">
                    <a class = "nav-link" href = "./home.html">Home</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "./hobbies.html">Hobbies</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href="./projects.html">Projects</a>
                </li> 
            </u1>
        </div>
        <a class = "ps-2 navbar-brand navbar-right">
            <img src="../resources/img/icon.png" alt = "Logo" width = "32" class="d-inline-block align-text-top">
        </a>
    </nav>
    <main class = "d-flex justify-content-center h-100 container"> <!--https://stackoverflow.com/questions/68558955/bootstrap-centering-container-in-the-middle-of-the-page-->
        <imbed class = "flex-grow-1 my-3">
            <iframe src="../resources/documents/Avery Lott-- Resume 2025 Boise - Google Docs.pdf" style = "height:525px; width: 100%;" title="Embedded PDF"> <!--Referenced: https://www.w3schools.com/html/html_iframe.asp-->
                <p>Your browser does not support PDFs. Download the <a href="../resources/documents/Avery Lott-- Resume 2025 Boise - Google Docs.pdf">resume</a> instead.</p>
            </iframe>
        </imbed>
    </main>
    <footer class = "footer footer-details container-fluid footer-style">
        <a data-mdb-ripple-init class = "btn btn-outline btn-floating" href = "https://github.com/Avery-Lott" 
            role="button" target = "_blank"><img src = "../resources/img/github.png" class = "img-fluid" width = "7%">
        </a> <!--Reference used: https://mdbootstrap.com/docs/standard/navigation/footer/-->
    </footer>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
        crossorigin="anonymous"
    ></script>
</body>
</html>